{% extends 'base.html' %}

{% block content %}

    {# set count = tours|length #}
    {#  set min_price = tours.values()|min(attribute="price") #}
    {# set max_price = tours2|max(attribute="price")  #}
    {# set min_nights = tours2|min(attribute="nights") #}
    {# set max_nights = tours2|max(attribute="nights") #}


    <h1 class="display-5 mt-4">Летим  {{ tours.depart_rus }} </h1>
    <p class="mb-4">Найдено {{ meta.count }} туров, от {{ meta.min_price }} до {{ meta.max_price }} и от {{ meta.min_nights }} ночей до {{ meta.max_nights }} ночей</p>
    <!-- HERO -->


    <!-- CARDS -->
    <div class="row mt-5">
        {% for url, tour in tours.items() %}
            <div class="col-4">
                <div class="card mb-3" >
                    <img src="{{ tour.picture }}" class="card-img-top img-fluid">
                     <div class="card-body">
                        <h5 class="card-title">{{ tour.title }}</h5>
                         <p class="card-text">{{ tour.description }}</p>
                         <a href="/tours/{{ url }}" class="btn btn-sm btn-primary">Подробнее</a>
                    </div>
                </div>
             </div>
          {% endfor %}
    </div>

{% endblock content %}